<!DOCTYPE html>
<html>
<head>
  {% block head %}
	<title>{% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

  <!-- global styles -->
  <link rel="stylesheet" type="text/css" href="/css/compiled/layout.css" />
  <link rel="stylesheet" type="text/css" href="/css/compiled/elements.css" />
  <link rel="stylesheet" type="text/css" href="/css/compiled/icons.css" />

  <!-- libraries -->
  {% block libraries %}{% endblock %}

  <!-- this page specific styles -->
  {% block custom_css %}{% endblock %}

  <!-- open sans font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% endblock head %}
</head>

<body>
  {% with company=company %}
  {% include "/views/base/navbar.html" %}
  {% endwith %}
  
  {% with active_page = active_page|default('home_panel') %}
  {% include "/views/base/sidebar.html" %}
  {% endwith %}

  <!-- main container -->
  {% block content %}{% endblock %}
  <!-- end main container -->

  <!-- scripts -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/theme.js"></script>
  {% block scripts %}{% endblock %}

</body>
</html>