{% extends "html/base/base.html" %}
{% block title %}Tesorio - Panel{% endblock %}

{% block libraries %}
<link href="css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
{% endblock libraries %}

{% block custom_css %}
<link rel="stylesheet" href="css/compiled/panel.css" type="text/css" media="screen" />
<style>
    .line {
        margin-left: 7px;
    }
</style>
{% endblock custom_css %}

{% block content %}
<div class="content">

    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row stats-row">
            <div class="col-md-6 col-sm-6 stat">
                <div class="data">
                    <span class="number">{{company.apr}} %</span>
                    apr
                </div>
                <span class="date">Threshold</span>
            </div>
            <div class="col-md-6 col-sm-6 stat">
                <div class="data">
                    <span class="number">$ {{'%0.2f'| format(company.cash_committed|float)}}</span>
                    cash committed
                </div>
                <span class="date">February 2013</span>
            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">
        <h1>{{company.name}}</h1>

            <!-- orders table -->
            <div class="table-wrapper orders-table section">
                <div class="row head">
                    <div class="col-md-12">
                        <h4>Invoices</h4>
                    </div>
                </div>

                <div class="row filter-block">
                    <div class="pull-right">
                        <div class="btn-group pull-right">
                            <button class="glow left large">All</button>
                            <button class="glow middle large">Pending</button>
                            <button class="glow right large">Completed</button>
                        </div>
                        <input type="text" class="search order-search" placeholder="Search for an order.." />
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">
                                    Supplier Invoice Number
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Company Name
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Invoice Date
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Days Accelerated
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Invoice Amount
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Status
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Amont to be Paid
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Profit
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    APR
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row -->
                            {% for invoice in invoices %}

                            {% if invoice.recent_bid %}
                            {% set bid = invoice.recent_bid.get() %}
                                <tr>
                                    <td>{{invoice.supplier_inv_number}}</td>
                                    <td>{{companies[invoice.supplier_id]}}</td>
                                    <td>{{invoice.inv_date}}</td>
                                    <td>{{bid.days_acc}}</td>
                                    <td>{{invoice.amount}}</td>
                                    <td>{{invoice.status}}</td>
                                    <td>{{bid.amount}}</td>
                                    <td>{{bid.profit}}</td>
                                    <td>{{bid.apr}}</td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td>{{invoice.supplier_inv_number}}</td>
                                    <td>Company Name</td>
                                    <td>{{invoice.inv_date}}</td>
                                    <td>N/A</td>
                                    <td>{{invoice.amount}}</td>
                                    <td>No-Bid</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end orders table -->

</div>
</div>
{% endblock content %}

{% block scripts %}
<script src="js/jquery-ui-1.10.2.custom.min.js"></script>
<!-- knob -->
<script src="js/jquery.knob.js"></script>
<!-- flot charts -->
<script src="js/jquery.flot.js"></script>
<script src="js/jquery.flot.stack.js"></script>
<script src="js/jquery.flot.resize.js"></script>

<script type="text/javascript">
$(function () {

            // jQuery Knobs
            $(".knob").knob();



            // jQuery UI Sliders
            $(".slider-sample1").slider({
                value: 100,
                min: 1,
                max: 500
            });
            $(".slider-sample2").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".slider-sample3").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 40, 170 ],
            });

            

            // jQuery Flot Chart
            var visits = [[1, 50], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
            var visitors = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9, 43],[10,50],[11,47],[12, 39]];

            var plot = $.plot($("#statsChart"),
                [ { data: visits, label: "Signups"},
                { data: visitors, label: "Visits" }], {
                    series: {
                        lines: { show: true,
                            lineWidth: 1,
                            fill: true, 
                            fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.13 } ] }
                        },
                        points: { show: true, 
                           lineWidth: 2,
                           radius: 3
                       },
                       shadowSize: 0,
                       stack: true
                   },
                   grid: { hoverable: true, 
                     clickable: true, 
                     tickColor: "#f9f9f9",
                     borderWidth: 0
                 },
                 legend: {
                            // show: false
                            labelBoxBorderColor: "#fff"
                        },  
                        colors: ["#a7b5c5", "#30a0eb"],
                        xaxis: {
                            ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"], 
                            [7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
                            font: {
                                size: 12,
                                family: "Open Sans, Arial",
                                variant: "small-caps",
                                color: "#697695"
                            }
                        },
                        yaxis: {
                            ticks:3, 
                            tickDecimals: 0,
                            font: {size:12, color: "#9da3a9"}
                        }
                    });

function showTooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y - 30,
        left: x - 50,
        color: "#fff",
        padding: '2px 5px',
        'border-radius': '6px',
        'background-color': '#000',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
}

var previousPoint = null;
$("#statsChart").bind("plothover", function (event, pos, item) {
    if (item) {
        if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;

            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(0),
            y = item.datapoint[1].toFixed(0);

            var month = item.series.xaxis.ticks[item.dataIndex].label;

            showTooltip(item.pageX, item.pageY,
                item.series.label + " of " + month + ": " + y);
        }
    }
    else {
        $("#tooltip").remove();
        previousPoint = null;
    }
});
});
</script>
{% endblock scripts %}