{% extends "html/base/base.html" %}
{% block title %}Tesorio - Supplier Panel{% endblock %}
{% set active_page = "supplier_panel" %}

{% block libraries %}
<link href="/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
{% endblock libraries %}

{% block custom_css %}
<link rel="stylesheet" href="/css/compiled/panel.css" type="text/css" media="screen" />
<link href="/css/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />
<style>
    .line {
        margin-left: 7px;
    }

    th {
        font-weight: bold!important;
    }

    tr td {
        text-align: center;
    }

    td.right-align {
        text-align: right;
    }

    .content {
        overflow: visible;
    }
</style>
{% endblock custom_css %}

{% block content %}
<div class="content">

    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row stats-row">
            <div class="col-md-4 col-sm-4 stat">
                <div class="data">
                    <span class="number">$500</span>
                    profit
                </div>
                <span class="date">Threshold</span>
            </div>
            <div class="col-md-4 col-sm-4 stat">
                <div class="data">
                    <span class="number">{{company.apr}} %</span>
                    apr
                </div>
                <span class="date">Threshold</span>
            </div>
            <div class="col-md-4 col-sm-4 stat">
                <div class="data">
                    <span class="number">{{company.cash_committed|float|format_currency}}</span>
                    cash committed
                </div>
                <span class="date">February 2013</span>
            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">
        <h1>{{company.name}} Supplier Panel</h1>

            <!-- orders table -->
            <div class="table-wrapper orders-table section">
                <div class="row head">
                    <div class="col-md-12">
                        <h4>Invoices</h4>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">
                                    View Invoice
                                </th>
                                <th class="col-md-1">
                                    Supplier Invoice Number
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Company Name
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Bid Status
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Invoice Date
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Invoice Amount
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Due Date
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Discount %
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Days Accelerated
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Amount to be Paid
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- row -->
                            {% for invoice in invoices %}

                            {% if invoice.recent_bid %}
                            {% set bid = invoice.recent_bid.get() %}
                                <tr>
                                    <td><a href="/panel/invoice/{{invoice.key.id()}}">View Invoice</a></td>
                                    <td>#{{invoice.supplier_inv_number}}</td>
                                    <td>{{companies[invoice.buyer_id]}}</td>
                                    <td>
                                        {% if bid.status == 'Pending' %}
                                        <span class="label label-info">Pending</span>
                                        {% elif bid.status == 'Accepted' %}
                                        <span class="label label-success">Accepted</span>
                                        {% elif bid.status == 'Declined' %}
                                        <span class="label label-danger">Declined</span>
                                        {% else %}
                                        N/A (Contact Us)
                                        {% endif %}
                                    </td>
                                    <td>{{invoice.inv_date.strftime('%m-%d-%Y')}}</td>
                                    <td class="right-align">{{invoice.amount|format_currency}}</td>
                                    <td>{{invoice.due_date.strftime('%m-%d-%Y')}}</td>
                                    <td class="right-align">{{bid.discount}}%</td>
                                    <td>{{bid.days_acc}}</td>
                                    <td class="right-align">{{bid.amount|format_currency}}</td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td><a href="/panel/invoice/{{invoice.key.id()}}">View Invoice</a></td>
                                    <td>#{{invoice.supplier_inv_number}}</td>
                                    <td>{{companies[invoice.buyer_id]}}</td>
                                    <td><a href="/panel/invoice/{{invoice.key.id()}}">Offer Bid</a></td>
                                    <td>{{invoice.inv_date.strftime('%m-%d-%Y')}}</td>
                                    <td class="right-align">{{invoice.amount|format_currency}}</td>
                                    <td>{{invoice.due_date.strftime('%m-%d-%Y')}}</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end orders table -->

            <!-- Modal -->
            <div class="modal fade" id="bid-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Confirm Bid</h4>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

</div>
</div>
{% endblock content %}

{% block scripts %}
<script src="/js/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.formatNumbers.js"></script>
<script src="/js/dataTables.ukDate.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('table.table').dataTable({
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 4, "desc" ]],
        "aoColumns": [
        null,
        { "sType": "formatted-num" },
        null,
        { "sType": "date-uk" },
        null,
        { "sType": "formatted-num" },
        { "sType": "date-uk" },
        { "sType": "formatted-num" },
        { "sType": "formatted-num" },
        { "sType": "formatted-num" }
        ]
    });
});
</script>

{% endblock scripts %}