<!-- sidebar -->
{% set sidebar = [
    ('/panel', 'home_panel', 'Home Panel', 'icon-home'),
    ('/panel/buyer', 'buyer_panel', 'Buyer Panel', 'icon-bar-chart'),
    ('/panel/supplier', 'supplier_panel', 'Supplier Panel', 'icon-bar-chart')
] -%}

<div id="sidebar-nav">
  <ul id="dashboard-menu">
    {% for href, id, title, icon in sidebar %}
    {% if id == active_page %} 
    <li class="active">
      <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
      </div>
      {% else %}
      <li>
      {% endif %}
      <a href="{{ href|e }}">
        <i class="{{icon}}"></i>
        <span>{{ title|e }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<!-- end sidebar -->