{% extends "base/base.jinja" %}
{% block title %}Tesorio - 404{% endblock %}
{# set active_page = "home_dashboard" #}

{% block libraries %}
<link href="/media/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="/media/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
{% endblock libraries %}

{% block custom_css %}
<style>
</style>
{% endblock custom_css %}

{% block content %}
<div class="content">
  <center>
    <h2>
      403: Permission Denied
    </h2>
    <p>
      You do not have permission to view this page.
    </p>
    <p>
      Please <a href="mailto:carlos@tesorio.com">Email Us</a>
      if you feel you have reached this in error.
    </p>
  </center>

</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}