{% extends "base/base.jinja" %}
{% block title %}Tesorio - Buyer Dashboard{% endblock %}
{% set active_page = "buyer_dashboard" %}

{% block libraries %}
<link href="/media/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="/media/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
{% endblock libraries %}

{% block custom_css %}
<link rel="stylesheet" href="/media/css/compiled/panel.css" type="text/css" media="screen" />
<link href="/media/css/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />
<style>
    .line {
        margin-left: 7px;
    }

    th {
        font-weight: bold!important;
    }

    tr td {
        text-align: center;
    }

    tr th {
        text-align: center;
    }

    td.right-align {
        text-align: right !important;
    }
</style>
{% endblock custom_css %}

{% block content %}
<div class="content">

    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row stats-row">
            <div class="col-md-4 col-sm-4 stat">
                <div class="data">
                    <span class="number">$500</span>
                    profit
                </div>
                <span class="date">Threshold</span>
            </div>
            <div class="col-md-4 col-sm-4 stat">
                <div class="data">
                    <span class="number">{{ company.apr }} %</span>
                    apr
                </div>
                <span class="date">Threshold</span>
            </div>
            <div class="col-md-4 col-sm-4 stat">
                <div class="data">
                    <span class="number">
                        {{ company.cash_committed|format_currency }}
                    </span>
                    cash committed
                </div>
                <span class="date">February 2013</span>
            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">
        <h1>{{ company.name }} - Buyer Dashboard</h1>

            <!-- orders table -->
            <div class="table-wrapper orders-table section">
                <div class="row head">
                    <div class="col-md-12">
                        <h4>Invoices</h4>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">
                                    Supplier Invoice Number
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Company Name
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Invoice Date
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Days Accelerated
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Invoice Amount
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Status
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Amount to be Paid
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    Profit
                                </th>
                                <th class="col-md-1">
                                    <span class="line"></span>
                                    APR
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- row -->
                            {% for invoice in invoices %}

                            {% if invoice.recent_bid %}
                            {% set bid = invoice.recent_bid.get() %}
                                <tr>
                                    <td>
                                        <a href="/dashboard/invoice/{{ invoice.id }}">
                                            #{{ invoice.supplier_inv_number }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ invoice.supplier }}
                                    </td>
                                    <td>
                                        {{ invoice.inv_date }}
                                    </td>
                                    <td>
                                        {{ bid.days_acc }}
                                    </td>
                                    <td class="right-align">
                                        {{ invoice.amount|format_currency }}
                                    </td>
                                    <td>
                                        {{ invoice.status }}
                                    </td>
                                    <td class="right-align">
                                        {{ invoice.amount|format_currency }}
                                    </td>
                                    <td class="right-align">
                                        {{ invoice.amount|format_currency }}
                                    </td>
                                    <td class="right-align">
                                        {{ bid.apr }}%
                                    </td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td><a href="/dashboard/invoice/{{ invoice.id }}">
                                        #{{ invoice.supplier_inv_number }}
                                    </a></td>
                                    <td>{{ invoice.supplier }}</td>
                                    <td>{{ invoice.inv_date.strftime('%m-%d-%Y') }}</td>
                                    <td>N/A</td>
                                    <td class="right-align">
                                        {{ invoice.amount|format_currency }}
                                    </td>
                                    <td>No-Bid</td>
                                    <td class="right-align">
                                        {{ invoice.amount|format_currency }}
                                    </td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end orders table -->

</div>
</div>
{% endblock content %}

{% block scripts %}
<script src="/media/js/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/media/js/jquery.dataTables.js"></script>
<script src="/media/js/dataTables.formatNumbers.js"></script>
<script src="/media/js/dataTables.ukDate.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('table.table').dataTable({
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 2, "desc" ]],
        "aoColumns": [
        { "sType": "formatted-num" },
        null,
        { "sType": "date-uk" },
        { "sType": "formatted-num" },
        { "sType": "formatted-num" },
        null,
        { "sType": "formatted-num" },
        { "sType": "formatted-num" },
        { "sType": "formatted-num" }
        ]
    });
});
</script>
{% endblock scripts %}