<!DOCTYPE html>
<html>
    <head>
        <title>Tesorio | A Marketplace for Working Capital</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <style type="text/css">
            #logo {
                max-width: 100%;
            }

            .container {
                max-width: 500px;
                margin: 50px auto;
            }

            .content {
                margin: 0 auto;
                max-width: 80%;
            }

            p, h2, h1 {
                color: rgb(72, 72, 72);
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
            }

            h1 {
                font-size: 40px;
            }

            @media (max-width: 600px) {
                h1 {
                    font-size: 20px;
                }
            }

            body {
                margin: 0;
                border-top: 35px solid rgba(44,55,66,1);
            }
        </style>
    </head>

    <body>
        <div class="content">
            <div class="container">
                <img
                    alt="Tesorio"
                    id="logo"
                    src="/media/img/logo-phrase.png"
                />
                <br><br>
                <hr>

                <p>
                    A cloud-based marketplace for companies
                    to finance each other's day-to-day capital needs.
                </p>
                <p>Coming soon!</p>
                <p>
                    <a href="mailto:contact@tesorio.com">contact@tesorio.com</a>
                </p>
            </div>
        </div>
    </body>

</html>