{% extends "base/base.jinja" %}
{% block title %}Tesorio - Invoice{% endblock %}

{% block libraries %}
<link href="/media/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
<link href="/media/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
{% endblock libraries %}

{% block custom_css %}
<link rel="stylesheet" href="/media/css/compiled/panel.css" type="text/css" media="screen" />

<style>
  #company-info {
    border-right: 1px solid #edeef1;
  }

  .user-profile p {
    color: #777e86;
    font-size: 16px;
  }

  .user-profile h6 {
    font-weight: 600;
    font-size: 18px;
  }

  .panel-body p {
    color: #000;
    text-align: center;
  }

  .panel-title {
    font-weight: bold;
    text-align: center;
  }

  .btn-center {
    margin: 0 auto;
    display: block;
  }

  .btn-flat.gray:hover {
    background: #7e91aa;
    border: 1px solid #888e97;
    opacity: 1.0;
    cursor: default;
  }

  .panel-option > .panel-heading, .panel-option > .panel-footer {
    background-color: #7e91aa;
  }
</style>
{% endblock custom_css %}

{% block content %}
<div class="content">
  <div id="pad-wrapper" class="user-profile">
    {% if invalid %}
    <h1>Invalid Invoice #{{ invoice.id }}</h1>
    {% else %}
    <div style="clear: both;">
      <h3 style="float: left;">Invoice #{{ invoice.supplier_inv_number }}</h3>
      <h3 style="float: right;">
        {% if supplier %}
        Client: {{ invoice.buyer }}
        {% else %}
        Supplier: {{ invoice.supplier }}
        {% endif %}
      </h3>
    </div>
    <br/>
    <hr/>

    <div class="row">

      <div class="col-xs-4">
        <div class="panel panel-default {% if option =='1' %} panel-option {% endif %}">
          <div class="panel-body">
            <p>{{ calculate_discount(invoice.amount, parameters.alt_1_percent)|format_currency }}</p>
            <p>{{ calculate_date(invoice.due_date, parameters.alt_1_days)|format_date_formal }}</p>
          </div>
          {% if supplier %}
            <form method="POST">
              <input type="hidden" name="discount" value="1">
              <input type="hidden" name="days-acc" value="10">
              <input type="hidden" name="option-number" value="1">
              <button type="submit" class="btn btn-center btn-primary">Accelerate Cash</button>
            </form>
          {% endif %}
        </div>
      </div>

      <div class="col-xs-4">
        <div class="panel panel-default {% if option =='2' %} panel-option {% endif %}">
          <div class="panel-heading">
            <h3 class="panel-title">Early Payment Option #2</h3>
          </div>
          <div class="panel-body">
            <p>{{ calculate_discount(invoice.amount, parameters.alt_2_percent)|format_currency }}</p>
            <p>{{ calculate_date(invoice.due_date, parameters.alt_2_days)|format_date_formal }}</p>
          </div>
          {% if supplier %}
          <div class="panel-footer">
            <form method="POST">
              <input type="hidden" name="discount" value="2">
              <input type="hidden" name="days-acc" value="20">
              <input type="hidden" name="option-number" value="2">
              <button type="submit" class="btn btn-center btn-primary">Accelerate Cash</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col-xs-4">
        <div class="panel panel-default {% if option =='3' %} panel-option {% endif %}">
          <div class="panel-heading">
            <h3 class="panel-title">Early Payment Option #3</h3>
          </div>
          <div class="panel-body">
            <p>{{ calculate_discount(invoice.amount, parameters.alt_3_percent)|format_currency }}</p>
            <p>{{ calculate_date(invoice.due_date, parameters.alt_3_days)|format_date_formal }}</p>
          </div>
          {% if supplier %}
          <div class="panel-footer">
            <form method="POST">
              <input type="hidden" name="discount" value="3">
              <input type="hidden" name="days-acc" value="30">
              <input type="hidden" name="option-number" value="3">
              <button type="submit" class="btn btn-center btn-primary">Accelerate Cash</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div id="company-info" class="col-xs-6">
        <h6>Supplier Invoice Key</h6>
        <p>{{invoice.supplier_inv_number}}</p>
        <br/>
        <h6>Invoice Amount</h6>
        <p>${{ invoice.amount|format_currency }}</p>
        <br/>
        <h6>Purchase Order Number</h6>
        <p>{{invoice.po_num}}</p>
        <br/>
        <h6>Invoice Description</h6>
        <p>{{invoice.description}}</p>
      </div>
      <div class="col-xs-6">
        <h6>Invoice Date</h6>
        <p>{{ invoice.inv_date|format_date }}</p>
        <br/>
        <h6>Invoice Due Date</h6>
        <p>{{ invoice.due_date|format_date }}</p>
        <br/>
        <h6>Date Approved</h6>
        <p>{{invoice.date_approved|format_date}}</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}