{% extends "base/base.jinja" %}
{% block title %}Invoice{% endblock %}
{% set active_page = "home_dashboard" %}

			{% block content %}
			<div id="content">

				<!-- widget grid -->
				<section id="widget-grid" class="">
				
					<!-- row -->
					<div class="row">
				
						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
									<h2>Item #44761 </h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
				
										<div class="widget-body-toolbar">
				
											<div class="row">
				
												<div class="col-sm-4">
				
													<div class="input-group">
														<input class="form-control" type="text" placeholder="Type invoice number or date...">
														<div class="input-group-btn">
															<button class="btn btn-default" type="button">
																<i class="fa fa-search"></i> Search
															</button>
														</div>
													</div>
												</div>
				
											</div>
				
										</div>
				
										<div class="padding-10">
											<br>
											<div class="pull-left">
												<img src="/media/img/logo-blacknwhite.png" width="150" height="32" alt="invoice icon">
												
												<address>
													<h4 class="semi-bold">{{ invoice.buyer }}</h4>
													{{ invoice.buyer.address }}
													<br>
													<abbr title="Phone">P:</abbr> {{ invoice.buyer.phone }}
												</address>
											</div>
											<div class="pull-right">
												<h1 class="font-400">invoice #{{ invoice.supplier_inv_number }}</h1>
											</div>
											<div class="clearfix"></div>
											<br>
											<br>
											<div class="row">
												<div class="col-sm-8">
													<h4 class="semi-bold">{{ invoice.supplier }}</h4>
													<address>
														{{ invoice.supplier.address }}
														<br>
														<abbr title="Phone">P:</abbr> {{ invoice.supplier.phone }}
													</address>
												</div>
												<div class="col-sm-4">
													
													<div>
														<div class="font-md">
															<strong>INVOICE DATE :</strong>
															<span class="pull-right"> <i class="fa fa-calendar"></i> {{ invoice.inv_date| format_date }} </span>
														</div>
				
													</div>
													<br>
													<div class="well well-sm  bg-color-darken txt-color-white no-border">
														<div class="fa-lg">
															Total Due :
															<span class="pull-right"> {{ invoice.amount|format_currency }} </span>
														</div>
				
													</div>
													<br>
													<br>
												</div>
											</div>
				
										</div>
				
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							<!-- end widget -->
				
						</article>
						<!-- WIDGET END -->
				
					</div>
				
					<!-- end row -->
				
				</section>
				<!-- end widget grid -->

			</div>
			{% endblock content %}		

		{% block scripts %}
		<script type="text/javascript">
		$(document).ready(function() {		
			pageSetUp();
		})
		</script>
		{% endblock scripts %}

	</body>

</html>