<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>Tesorio | Trade Working Capital. Trade Smart.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="/media/css2/compiled/theme_tesorio.css">
	<link rel="stylesheet" type="text/css" href="/media/css2/vendor/animate.css">
	<link rel="stylesheet" type="text/css" href="/media/css2/vendor/font-awesome.min.css">

	<!-- javascript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/media/js2/bootstrap/bootstrap.min.js"></script>
	<script src="/media/js2/theme.js"></script>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
		
  		#home #hero {
			background-image: url("/media/images2/blue_philly_skyline.png");
			top: -60px;
  			padding-top: 110px;}
			
		#home #hero h1.hero-text {
			font-size: 45px;
			color:#fff;
			text-transform: none;
		 	text-shadow: none;
		 	-webkit-animation-duration: 2s; 
			
		    }
		
		#home #hero .sub-text {
	     	font-size: 25px;
	     	text-shadow: none;
	     	width: 100%; 
	     	-webkit-animation-duration: 2s;

		}
		
		#footer-white {
		    padding-top: 0px;}

		#footer-white .credits {
			margin-top: 0px;}
		#footer-white .credits .col-md-12 {
  			padding-top: 0px;}

  		#home .logos {
		    margin-top: 16px; }
		    #home .logos img {
		      margin: 0 16px; 
		  		max-width: 150px}
		      @media (max-width: 767px) {
		        #home .logos img {
		          margin: 0 auto;
		          display: block;
		          margin-bottom: 15px; } }

    </style>

</head>
<body id="home">
	<header class="navbar navbar-inverse white" role="banner" style="
			height: 70px;">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
    
	      			<div class="logos">
						<a href="/"><img src="/media/images2/logos/tesorio-logo-black.png"; style="max width: 200px"></a>
	    			</div>
			</div>

    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      			<ul class="nav navbar-nav navbar-right">
    				<li style="margin:16px">
          				<a href="https://www.tesorio.com/login/?next=/dashboard/" class="signup visible-md visible-lg" style="width: 90px">Log In</a>
      				</li>
    <!--  				<li class="">
        				<a href="index.html" class=""> <!--replace with link to section of website, i.e. it jumps to a part of the page-->
 	<!--      					Home
          					<i class="fa fa-chevron-down"></i>
          				</a>
        			</li>
        			<li class="">
        				<a href="index.html" class=""> <!--replace with link to section of website, i.e. it jumps to a part of the page-->
     <!--	  					Buyers
          					<i class="fa fa-chevron-down"></i>
          				</a>
        			</li>
        			<li class="">
        				<a href="index.html" class=""> <!--replace with link to section of website, i.e. it jumps to a part of the page-->
     <!--     					Suppliers
          					<i class="fa fa-chevron-down"></i>
          				</a>
        			</li>
        			<li class="">
        				<a href="index.html" class="#"> <!--replace with link to section of website, i.e. it jumps to a part of the page-->
     <!--     					How It Works
          					<i class="fa fa-chevron-down"></i>
          				</a>
        			</li>
        			<li class="">
        				<a href="index.html" class="#"> <!--replace with link to section of website, i.e. it jumps to a part of the page-->
     <!--     					About
          					<i class="fa fa-chevron-down"></i>
          				</a>
        			</li>
        			<!-- # Dropdown menu code in case we want to use it later
        			<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          					More pages 
          					<i class="fa fa-chevron-down"></i>
          				</a>
          				<ul class="dropdown-menu">
							<li><a href="aboutus.html">About us</a></li>
							<li><a href="contactus.html">Contact us</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="portfolio-item.html">Portfolio Item</a></li>
							<li><a href="invoice.html">Invoice page</a></li>
							<li><a href="timeline.html">Timeline Page</a></li>
							<li><a href="docs.html">API Documentation</a></li>
							<li><a href="support.html">Support</a></li>
							<li><a href="coming-soon.html">Coming Soon</a></li>
							<li><a href="status.html">Status</a></li>
							<li><a href="signup.html">Sign Up &amp; Sign In</a></li>
							<li><a href="signup-rotate.html">Sign Up Miscellaneous</a></li>
							<li><a href="404.html">404 Page</a></li>
				        </ul>
        			</li>
    				-->
        			<!-- # Sign-up button in case we want to use it 
        			<li>
          				<a href="signup.html" class="signup visible-md visible-lg">Sign up free</a>
        			</li>
    -->
    			</ul
    		</nav>
  		</div>
	</header>
	<div id="hero">
		<div class="container">
			<h1 class="hero-text animated fadeInDown">
				</br>
				</br>
				Thanks for getting in touch!<br />	
				</h1>
			<p class="sub-text animated fadeInDown">
				It's currently taking us up to three business days to respond </br> 
				to inquiries. We'll be in touch soon and look forward to learning </br>
				more about how to help your company grow and unlock value.
				
			</p>
		
			
		</div>
	</div>
	<div id="footer-white">
		<div class="container">
			<div class="row">
			</div>
			<div class="row credits">
				<div class="col-md-12">
					Copyright © 2014. Tesorio, LLC
				</div>
			</div>
		</div>
	</div>
</body>
</html>